body {
	width:100%;
	height:100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin:0px;
	overflow-x:hidden;
}

/*a {
	color: #00B7FF;
}*/

hr{
	margin-top:30px;
	margin-bottom:30px;
	border-color:#444444;
}

hr.fronthr{
	border-color:white;
}

#main{
	width:100%;
	height:500px;
	margin:0px;
	position:relative;
	background:#dddddd;
}

/*=====================================================================================================*/
/*head-banner*/
/*=====================================================================================================*/
#head-banner{
	width:100%;
	height:90px;
	background:#121212;
	margin:0px;
	font-size:15px;
	color:gray;
	float:left;
}

	#cross{
		margin:30px 5px;
		float:left;
		font-weight:bold;
		position:absolute;
		background:#222222;
		padding:5px 10px;
		border-radius:5px;
		text-decoration:none;
		color:gray;

		transition:color 0.5s, background 0.5s;
		-webkit-transition:color 0.5s, background 0.5s;	
	}

	#cross:hover{
		color:#eeeeee;
		background:black;
	}


	#gritcause{
		display:block;
		margin:15px auto;
		font-style:italic;
		height:70px;width:110px;
		background:#121212;
		float:right;
		position:relative;
		z-index:1;
		overflow:hidden;

		transition:width 0.2s;
		-webkit-transition:width 0.2s;
	}

	#gritcause-img{
		float:left;
		height:75px;width:75px;
		position:relative;bottom:10px;
		margin-right:10px;
		margin-left:30px;
	}

	#gritcause-def{
		width:260px;
		transition:width 0.2s;
		-webkit-transition:width 0.2s;

	}

	#gritcause:hover{
		width:280px;
	}

	#gritcause:hover #gritcause-def{
		width:260px;
	}

/*=====================================================================================================*/
/*body-front*/
/*=====================================================================================================*/
#body-front-container{
	position:relative;
	float:left;
	width:100%;
	height: -webkit-calc(100% - 90px);
	height: -moz-calc(100% - 90px);


	perspective:2000px;
	-webkit-perspective:2000px;
}

	#body-front{
		position:absolute;
		right:0px;
		float:left;
		width:100%;
		height:100%;
		transform-origin: 100% 100% 0;
		-webkit-transform-origin: 100% 100% 0;

		transition: transform 0.3s, right 0.3s;
		-webkit-transition: -webkit-transform 0.3s, right 0.3s;

	}

	#body-front-container:hover #body-front{
		transform: rotateY(-45deg);
		-webkit-transform: rotateY(-45deg);
		right:500px;
	}

	#main-img-container, #blank, #datapage{
		position:absolute;
		height:inherit;
		width:100%;
		color:white;
	}

	#main-img-container{
		overflow:hidden;
	}

	#main-img, #main-img2{
		width:100%;
		position:absolute;
		top:0px;
		opacity:0;
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
	}

	#main-img{
		opacity:1;
	}


	#blank{
		background:#0091ff;/*#3fbab9#2a2f33*/
		opacity:0.2;
	}

	/*datetime*/
	/*=====================================================================================================*/
	#datetime{
		height:370px;
		border-left:1px solid white;
		width:700px;
		margin:20px;
		position:absolute;
		bottom:0px;
		font-family:"Calibri";
	}

	#time{
		font-size:250px;
		margin:0px 0px 0px 40px;
		float:left;
	}

	#seconds{
		font-size:50px;float:left;
		position:relative;top:20px;
		opacity:0;

		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
	}

	#datetime:hover #seconds{
		opacity:1;
	}

	#date{
		font-size:40px;
		text-align:left;
		margin:0px 40px;
		text-align:center;
	}

	/*titlecard*/
	/*=====================================================================================================*/
	#titlecard{
		width:300px;
		margin:200px auto;
	}

	#titlecard h2, #titlecard p, #titlecard hr{
		text-align:center;
		color:white;
		opacity:0.8;
	}


	#titlecard p{
		font-size:16px;
	}

/*=====================================================================================================*/
/*body-side*/
/*=====================================================================================================*/
#body-side{
	height:100%;
	background:#121212;
	width:500px;
	position:absolute;
	right:-500px;

	transition:right 0.3s;
	-webkit-transition:right 0.3s;
}

	#body-front-container:hover #body-side{
		right:0px;
	}

	#sidecard{
		height:150px;width:90%;
		padding:20px;
	}

	#sidecard p{
		color:gray;
		text-align:center;
	}

	#sidecard a{
		text-decoration:none;
		color:#0091ff;
	}

	#sidecard a:hover{
		color:white;
	}


	/*ryanlink*/
	/*=====================================================================================================*/
	#per-link, #pro-link{
		display:inline-block;
		z-index:1;
		border-radius:100px;
		height:100px;width:400px;
		margin:20px 50px;

		transition:width 0.2s;
		-webkit-transition:width 0.2s;
	}

	#profile-img1, #profile-img2{
		height:100px;
		width:100px;
		border-radius:100px;
		display:inline-block;float:left;
		box-shadow:0px 0px 10px black;
		margin-right:20px;
	}

	#profile-img1{
		border:2px #79dc62 solid;
		background:#79dc62;
		transition: border 0.2s;
		-webkit-transition: border 0.2s;
	}

	#profile-img2{
		border:2px #cc3535 solid;
		background:#cc3535;
		transition: border 0.2s;
		-webkit-transition: border 0.2s;
	}


	.cta-text{
		float:left;
		color:#444444;
		font-size:20px;
		width:250px;
		height:100%;
		padding-left:10px;
		margin-top:35px;

		transition: color 0.2s;
		-webkit-transition: color 0.2s;	
	}

	#per-link:hover #profile-img1, #pro-link:hover #profile-img2{
		border:2px white solid;
	}


	#per-link:hover .cta-text{
		color:white;
	}

	#pro-link:hover .cta-text{
		color:white;
	}

	#sidecard-bottom{
		width:90%;
		padding:20px;
		position:absolute;
		bottom:0px;
	}


		#sidecard-bottom p{
			color:#444444;
			text-align:center;
		}





/*=====================================================================================================*/
/*Container 2 and 3*/
/*=====================================================================================================*/
.section-title-card-container{
	float:right;
	width:500px;
	z-index:2;
	background:#222222;
	border-bottom-left-radius:75px;
}

#professional-title-card-container{
	float:left;
	border-bottom-left-radius:0px;
	border-bottom-right-radius: 75px
}

	.section-title-card{
		width:110%;
		height:100px;
		margin:50px 0px 0px 0px;
		background:#76dc52;
		box-shadow:0px 0px 10px black;
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
		border:2px #76dc52 solid;
		float:right;
	}


	#professional-title-card{
		background:#cc3535;
		border:1px #cc3535 solid;
		border-radius:0px;
		border-top-right-radius:20px;
		border-bottom-right-radius:20px;
		float:left;
	}

	#profile-img3, #profile-img4{
		height:100px;width:100px;
		border-radius:20px;
		float:left;
		margin-right:20px;
	}

	#profile-img4{
		float:right;
		margin-right:0px;
		margin-left:20px;
	}

	.section-title-card h2{
		font-size:35px;
		color:white;
		font-weight:normal;
		float:left;
	}

	#professional-title-card h2{
		margin-left:20px;
	}

.section-details{
	color:gray;
	margin:10px 50px 50px 50px;
	float:right;
}


	#personal-pro-link, #professional-per-link{
		height:100px;
		width:100%;
		margin-bottom:30px;
		float:left;
		border-radius: 50px
	}

		#profile-img5, #profile-img6{
			height:100px;
			width:100px;
			border-radius:100px;
			float:left;
			margin-right:20px;
			border:2px #cc3535 solid;
		}

		#profile-img6{
			border:2px #5ead52 solid;
		}


		#personal-pro-link h2, #professional-per-link h2{
			font-weight:bold;
			font-size:15px;
			color:#444444;
			float:left;
			position:relative;
			top:30px;
			transition: color 0.5s;
			-webkit-transition: color 0.5s;
		}

		#personal-pro-link:hover h2{
			color:#cc3535;
		}

		#professional-per-link:hover h2{
			color:#5ead52;
		}


	.main-link{
		height:100px;
		width:300px;
		float:left;
	}

		.profile-img-main{
			height:100px;
			width:100px;
			border-radius:100px;
			float:left;
			border:2px #0091ff solid;
			margin-right:20px;
			font-size:70px;
			text-align:center;
			color:#444444;
			background:#eeeeee;
		}

		.main-link h2{
			font-weight:bold;
			width:150px;
			font-size:15px;
			color:#444444;
			float:left;
			position:relative;top:30px;
			transition: color 0.5s;
			-webkit-transition: color 0.5s;
		}

		.main-link:hover h2{
			color:#0091ff;
		}

/*=====================================================================================================*/
/*personal*/
/*=====================================================================================================*/
#personal{
	height:1000px;
	background:#eeeeee;
	position:relative;
}

	#per-cube-container-circle{
		width:400px;
		height:400px;
		border:1px white solid;
		box-shadow:0px 0px 5px gray;
		border-radius:300px;
		margin:100px;
		padding:100px;
		position:absolute;
		background:#eeeeee;
	}


	#per-cube-container{
		width:400px;
		height:400px;
		position:absolute;

		perspective: 1000px;
		-webkit-perspective: 1000px;
	}


	#per-cube{
		width:300px;
		height:300px;
		position:relative;
		margin:50px;

		transform:rotateX(30deg) rotateY(30deg);
		-webkit-transform:rotateX(30deg) rotateY(30deg);

		transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;

		transition: transform 0.3s;
		-webkit-transition: -webkit-transform 0.3s;
	}

	#per-cube .face{
		width:100%;
		height:100%;
		position:absolute;
		opacity:1;
		font-size:30px;
		color:white;
		text-align:center;
		box-shadow:0px 0px 10px black;
		cursor:pointer;

		transition:height 0.3s, width 0.3s, margin 0.3s;
		-webkit-transition:height 0.3s, width 0.3s, margin 0.3s;
	}


	#per-cube .face img{
		height:100%;
		width:100%;
	}	

	#per-cube .front{
		transform: rotateY(0deg) translateZ(200px);
		-webkit-transform: rotateY(0deg) translateZ(200px);
	}
	#per-cube .back{
		transform: rotateX(180deg) translateZ(200px);
		-webkit-transform: rotateX(180deg) translateZ(200px);
	}
	#per-cube .right{
		transform: rotateY(90deg) translateZ(200px);
		-webkit-transform: rotateY(90deg) translateZ(200px);
	}
	#per-cube .left{
		transform: rotateY(-90deg) translateZ(200px);
		-webkit-transform: rotateY(-90deg) translateZ(200px);
	}
	#per-cube .top{
		transform: rotateX(90deg) translateZ(200px);
		-webkit-transform: rotateX(90deg) translateZ(200px);
	}
	#per-cube .bottom{
		transform: rotateX(-90deg) translateZ(200px);
		-webkit-transform: rotateX(-90deg) translateZ(200px);
	}

	.face-title{
		width:100%;
		background:black;
		opacity:0.8;
		position:absolute;
		bottom:0px;
	}

	.face-description{
		padding:20px;
		box-shadow:0px 0px 5px gray;
		background:white;
		opacity:0;
		color:gray;
		font-size:0px;
		text-align:left;
		height:auto;width:600px;
		position:relative;
		bottom:300px;left:330px;

		transition:opacity 0.5s;
		-webkit-transition:opacity 0.5s;
	}

	.face:hover .face-description{
		opacity:1;
		font-size:20px;
	}

/*=====================================================================================================*/
/*professional*/
/*=====================================================================================================*/
#professional{
	background:#dddddd;
	height:1700px;
}

#professional-details span{
	color:#ed6f6f;
	/*font-weight:bold;
	font-style:italic;*/
}

#skills-container{
	width:1200px;
	float:right;
}

#skills-container h3{
	margin-top:5px;
}


.column{
	margin-top:40px;
	width:360px;
	float:left;
}

.column3{
	width:450px;
}

.pin{
	width:300px;
	background:white;
	float:left;
	color:gray;
	box-shadow: 0px 0px 10px gray;
	border-radius:5px;
	margin:15px;
	padding:10px;
}

.title-pin{
	text-align:center;
	background:#222222;
	color:#eeeeee;
}

.title-pin h1{
	margin-top:10px;
	margin-bottom:10px;
}

.column3 .pin{
	width:400px;
}

.pin div{
	margin:10px auto;
	background:gray;
}

.pin a{
	text-decoration:none;
}

.pin img{
	border-radius:10px;
}

	div.languages-div{
		width:236px;height:244px;
		background:url("../images/languages2.jpg") -5px -78px;
	}

	div#coast-pin img{
		width:100%;
	}

	#coast-pin span{
		color:white;
		background:#73f679;
		padding:2px 5px 0px 5px;
		margin:0px 5px;
		border-radius:5px;
		box-shadow:0px 0px 5px gray;
		font-weight:bold;
		display:inline-block;
		float:left;
		position:relative;bottom:2px;

		transition:background 0.5s;
		-webkit-transition:background 0.5s;
	}

	/*div.jq-div{
		width:197px;height:52px;
		background:url("../images/languages.jpg") -12px -140px;
	}		
	div.php-div{
		width:91px;height:50px;
		background:url("../images/languages.jpg") -7px -72px;
	}		
	div.node-div{
		width:176px;height:60px;
		background:url("../images/languages.jpg") -8px -200px;
	}		
	div.mysql-div{
		width:164px;height:85px;
		background:url("../images/languages.jpg") -208px -151px;
	}		
	div.wp-div{
	}*/

	div.home{
		width:255px;height:101px;
		background:url("../images/languages2.jpg") -310px -20px;
		border-radius:10px;
	}		
	div.interchange{
		width:255px;height:220px;
		background:url("../images/languages2.jpg") -310px -125px;
		border-radius:10px;
	}		

	div.dxs{
		background:#0b2c46;
		color:white;
		border-top:5px #0091ff solid;
		border-bottom:5px #0091ff solid;
		padding-top:10px;
		padding-bottom:10px;
		font-size:25px;
		text-align:center;
	}		

	img.spook{
		width:100%;
		border-radius:10px;
	}		

	#timer{
		border-radius:10px;
		width:100%;
		padding:5% 0px 5% 0px;
		background:#131313;
		color:#0091ff;
		text-align:center;
		font-family:"Lucida Console";
		font-size:40px;
		cursor:pointer;
		text-decoration: none;
	}

	#timer span{
		opacity:0.05;
	}

/*=====================================================================================================*/
/*media queries*/
/*=====================================================================================================*/
/*main*/

/*adjust the front screen*/
@media all and (max-height: 1050px){#main{height:1050px;}}
@media all and (max-height: 1280px){#main{height:1280px;}}
@media all and (max-height: 1024px){#main{height:1024px;}}
@media all and (max-height: 960px){#main{height:960px;}}
@media all and (max-height: 800px){#main{height:800px;}}
@media all and (max-height: 768px){#main{height:768px;}}
@media all and (max-height: 480px){#main{height:480px;}}


@media (orientation:portrait){
	#main-img{
		width:auto;
		height:100%;
	}

	#main-img2{
		width:auto;
		height:100%;
	}

}


@media all and (max-height: 900px){
	#datetime{
		height:auto;
	}

	#time{
		width:300px;
		font-size:100px;
		float:none;
	}	

	#seconds{
		display:none;
	}

	#date{
		font-size:20px;
		float:none;
		text-align:left;
	}

}

@media all and (max-height: 800px){
	#per-link, #pro-link{
		height:50px;
		margin:10px 30px;
		width:100%;
	}

	#per-link img, #pro-link img{
		height:50px;width:50px;
	}

	.cta-text{
		margin-top:10px;
		height:50px;
		width:50px;
		font-size:15px;
	}

	hr{
		margin-top:10px;
		margin-bottom:10px;
	}

}

@media all and (max-width: 800px){
	#datetime{
		height:auto;
	}

	#time{
		width:300px;
		font-size:100px;
		float:none;
	}	

	#seconds{
		display:none;
	}

	#date{
		font-size:20px;
		float:none;
		text-align:left;
	}

	#titlecard{
		margin-top:15%;
	}

	#body-side{
		width:100%;
		right:-100%;
	}

	#body-front-container:hover #body-front{
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
	}


}

@media all and (max-width: 400px){
	#gritcause{
		display:none;
	}

	#sidecard{
		height:100px;
		font-size:12px;
	}

	#datetime{
		border:0px;
	}

	#time, #date{
		margin-left:0px;
	}
}


/*for personal and professional*/
@media all and (max-width:1800px){
	.section-title-card-container, #professional-title-card-container, #personal-title-card-container, .section-title-card, #personal-title-card, #professional-title-card{
		width:100%;
		border-radius:0px;
		border-top-right-radius:0px;
		border-bottom-right-radius:0px;
	}

	#profile-img3, #profile-img4{
		margin:0px 20px;
		float:left;
	}

	#profile-img5, #profile-img6, .profile-img-main{
		height:50px;width:50px;
		font-size:40px;
	}

	.section-details{
		float:left;
	}

	#personal{
		height:1400px;
	}

	#personal-pro-link, #professional-per-link, .main-link{
		height:50px;
	}

	#personal-pro-link h2, #professional-per-link h2, .main-link h2{
		margin-top:0px;
		position:relative;
		top:20px;
	}

	#per-cube-container-circle{
		position:relative;
		float:left;
	}

	#professional{
		height:2500px;
	}

	#skills-container{
		margin:auto;
		float:none;
	}

}

@media all and (max-width:1400px){
	.face-description{
		width:400px;
	}

	.face iframe, .face hr{
		display:none;
	}
}

@media all and (max-width:1200px){
	.face-description{
		width:260px;
	}

	#skills-container{
		width:720px;
	}

	#professional{
		height:3700px;
	}

	.column3{
		float:none;
		margin:auto;

	}

}

@media all and (max-width:1000px){
	#per-cube-container-circle{
		margin-left:auto;
		margin-right:auto;
		float:none;
		position:relative;
		top:550px;
	}

	.face-description{
		top:0px;left:0px;
	}
}

@media all and (max-width:700px){

	/*Remove rotating circle*/
	#personal{
		height:2500px;
	}

	#per-cube-container-circle{
		border-radius:0px;
		border:0px;
		box-shadow:0px 0px 0px;
		width:100%;
		height:600px;
		padding:0px;
		margin:auto;
		position:relative;
		float:left;
		top:0px;
	}

	#per-cube-container{
		width:100%;
		height:100%;
		position:relative;

		perspective:0px;
		-webkit-perspective:0px;
	}


	#per-cube{
		width:300px;
		height:100%;
		position:relative;
		margin:auto;
		margin-top:50px;

		transform:rotateX(0deg) rotateY(0deg);
		-webkit-transform:rotateX(0deg) rotateY(0deg);

		transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;

		transition: transform 0.3s;
		-webkit-transition: -webkit-transform 0.3s;
	}

	#per-cube .face{
		width:300px;
		height:300px;
		float:left;
		position:relative;
		box-shadow: 0px 0px 0px;
		/*bottom:400px;*/

		transition:height 0.3s, width 0.3s, margin 0.3s;
		-webkit-transition:height 0.3s, width 0.3s, margin 0.3s;
	}


	#per-cube .face img{
		height:100%;
		width:100%;
	}	

	#per-cube .front, #per-cube .back, #per-cube .right, #per-cube .left, #per-cube .top, #per-cube .bottom{
		transform: rotateY(0deg) translateZ(0px);
		-webkit-transform: rotateY(0deg) translateZ(0px);
	}

	.face:hover .face-description{
		position:absolute;
		height:260px;
		width:260px;
		box-shadow: 0px 0px 0px;
		opacity:0.8;
		background:#222222;
		color:white;
	}


	/*PROFESSIONAL SECTION*/
	#professional{
		height:6300px;
	}

	#professional-title-card h2, #personal-title-card h2{
		margin-top:25px;
		font-size:20px;
		width:100px;
	}

	.section-details{
		margin-left:10px;
		width:90%;
	}

	#skills-container{
		width:100%;
	}

	.column{
		width:310px;
		margin:auto;
		float:none;
	}

	.pin, .column3 .pin{
		width:260px;
	}
}
